*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}

.navbar{
    background-color:lightblue;
    height: 100px;
    padding-left: 30px;
    padding-right: 20px;
    display: flex;
    justify-content:space-between;
    align-items:center ;
    gap: 10px;

}
 
.logodiv{
    display:flex;
    align-items: center;
}

.logodiv img{
    height:35px;
}

.navlink a{
    font-size: 18px;
    padding-left : 50px;
    text-align: center;
    
    }

.navBtn button{
    border: none;
    background-color: white;
    color: rgb(56, 56, 211);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border:1px solid blue ;
    border-radius: 2000px;
}

.aBtn{
    background-color: rgb(59, 59, 209);
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
}

.hero{ 
    padding:20 30px ;
    background-color: rgb(239, 236, 236);
}

.info{
    display: flex;
    padding-bottom: 30px;
}

.heroHeading{
    width: 400px;
}
.webInfo p{
    padding-bottom:  ;
}

.heroImg{
    width: 1450px;
    overflow: hidden;
}

